body{
    background-color: black;
    color: white;
}

.welcome{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h1{
    color: white;
}

.welcome p{
    color: white;
    font-size: large;
}

.welcome button{
    background-color: rgb(255, 255, 255);
    padding: 15px 15px;
    font-size: large;
    border-radius: 10px;
    border: none;
    color: black;
    font-weight: 700;
    cursor: pointer;
}
