body{
    background-color: black;
    color: white;
}

.welcome{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

h1{
    color: white;
}

.welcome p{
    color: white;
    font-size: large;
}

.btn{
    background-color: rgb(255, 255, 255);
    padding: 15px 15px;
    font-size: large;
    border-radius: 10px;
    border: none;
    color: black;
    font-weight: 700;
    cursor: pointer;
}

.start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2rem;
}

.input{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.balance{
    padding: 10px 15px;
    background-color: white;
    color: black;
    font-weight: 700;
}


